#matrix-canvas {
    border: 2px solid #555;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

canvas {
    display: block;
}

#matrix-info {
    margin-top: 10px;
    font-size: 14px;
    color: #aaa;
}

.swal2-html-container code {
    display: block;
    padding: 20px 50px;
    border-radius: 4px;
    background-color: #333;
    color: #fff;
    border: 1px solid #555;
    font-size: 12px;
}

.code-container {
    position: relative;
}

.copy-code {
    padding: 4px 8px;
    position: absolute;
    top: 5px;
    right: 5px;
}

.force-border-radius {
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
}

/*
.nudgeX {
    animation: nudgeX-animation 0.3s ease-in-out;
}

.nudgeY {
    animation: nudgeY-animation 0.3s ease-in-out;
}


@keyframes nudgeX-animation {
    0% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(-10px);
    }

    40% {
        transform: translateX(10px);
    }

    60% {
        transform: translateX(-5px);
    }

    80% {
        transform: translateX(5px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes nudgeY-animation {
    0% {
        transform: translateY(0);
    }

    20% {
        transform: translateY(-10px);
    }

    40% {
        transform: translateY(10px);
    }

    60% {
        transform: translateY(-5px);
    }

    80% {
        transform: translateY(5px);
    }

    100% {
        transform: translateY(0);
    }
}

*/
form.dropdown-menu {
    width: 18rem;
}

.btn-white,
.btn-white:active,
.btn-check:checked + .btn-white,
.btn-white:focus,
.btn-white.active {
    background-color: #ffffff !important;
    border-color: #ffffff !important;
    color: black !important;
}

.btn-light-grey,
.btn-light-grey:active,
.btn-check:checked + .btn-light-grey,
.btn-light-grey:focus,
.btn-light-grey.active {
    background-color: #A9A9A9 !important;
    border-color: #A9A9A9 !important;
    color: white !important;
}

.btn-dark-grey,
.btn-dark-grey:active,
.btn-check:checked + .btn-dark-grey,
.btn-dark-grey:focus,
.btn-dark-grey.active {
    background-color: #505050 !important;
    border-color: #505050 !important;
    color: white !important;
}

.btn-black,
.btn-black:active,
.btn-check:checked + .btn-black,
.btn-black:focus,
.btn-black.active {
    background-color: #000000 !important;
    border-color: #000000 !important;
    color: white !important;
}

.btn-check:checked + .btn {
    transform: translateY(-6px);
    z-index: 1;
}

#btnInvertBW {
  background: linear-gradient(135deg, white 50%, black 50%);
  color: black;
  border: 1px solid #ccc;
}

#btnInvertBW:hover {
  background: linear-gradient(135deg, black 50%, white 50%);
  color: white;
}

#btnInvertGreys {
  background: linear-gradient(135deg, #A9A9A9 50%, #505050 50%);
  color: white;
}

#btnInvertGreys:hover {
  background: linear-gradient(135deg, #505050 50%, #A9A9A9 50%);
  color: black;
  border: 1px solid #ccc;
}

